*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#1a1d23;
    color:white;
}

/* NAVBAR */

nav{
    position:sticky;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#242933;
}

.logo{
    font-size:1.2rem;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

/* HERO */

.hero{
    min-height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:80px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    line-height:1.6;
}

/* SECTIONS */

section{
    padding:80px;
    min-height:50vh;
}

section h2{
    margin-bottom:20px;
}